---
import { newsletterConfig } from '../../data/newsletter';
import BeehiivForm from '../BeehiivForm.astro';
---

<aside class="article-newsletter" aria-label="Newsletter subscription">
    <h2 class="article-newsletter__title">{newsletterConfig.sidebarTitle}</h2>
    <p class="article-newsletter__text">{newsletterConfig.sidebarDescription}</p>
    <BeehiivForm class="article-newsletter__embed" variant="sidebar" />
    <p class="article-newsletter__note">{newsletterConfig.footnote}</p>
</aside>
